.postCardEditDelete {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19), 0 3px 5px 0 rgba(0, 0, 0, 0.185);
    padding: 1rem;
    margin: 1rem;
}

.postCardEditDelete__actions {
    display: flex;
    justify-content: right;
    align-items: center;
}

.postCardEditDelete__action {
    margin: 0 .4rem;
    cursor: pointer;
}
