.usage__image {
    width: 15rem;
}

.usage__tip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.usage__tips {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}