.StickyTopNavbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
}

.StickyTopNavbar a {
  color: #dddddd;
}

.StickyTopNavbar a:hover {
  color: #dddddd;
  text-decoration: none;
}

.logout-option {
  cursor: pointer;
}